<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Save user</h2>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <br>
    <label for="lastName">Enter lastName</label>
    <input type="text" th:field="*{lastname}" id="lastName">
    <br>
    <br>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <br>
    <input type="submit" value="Save">
</form>
</body>
</html>